<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnu.houseweb.dao.AgentReviewMapper">
  <resultMap id="BaseResultMap" type="hnu.houseweb.entity.AgentReview">
    <id column="adminNo" jdbcType="INTEGER" property="adminNo" />
    <id column="workNo" jdbcType="INTEGER" property="workNo" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="result" jdbcType="CHAR" property="result" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    adminNo, workNo, created, result, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="hnu.houseweb.entity.AgentReviewKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agentReview
    where adminNo = #{adminNo,jdbcType=INTEGER}
      and workNo = #{workNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="hnu.houseweb.entity.AgentReviewKey">
    delete from agentReview
    where adminNo = #{adminNo,jdbcType=INTEGER}
      and workNo = #{workNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hnu.houseweb.entity.AgentReview">
    insert into agentReview (adminNo, workNo, created,
      result, description)
    values (#{adminNo,jdbcType=INTEGER}, #{workNo,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP},
      #{result,jdbcType=CHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hnu.houseweb.entity.AgentReview">
    insert into agentReview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminNo != null">
        adminNo,
      </if>
      <if test="workNo != null">
        workNo,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminNo != null">
        #{adminNo,jdbcType=INTEGER},
      </if>
      <if test="workNo != null">
        #{workNo,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        #{result,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hnu.houseweb.entity.AgentReview">
    update agentReview
    <set>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where adminNo = #{adminNo,jdbcType=INTEGER}
      and workNo = #{workNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hnu.houseweb.entity.AgentReview">
    update agentReview
    set created = #{created,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR}
    where adminNo = #{adminNo,jdbcType=INTEGER}
      and workNo = #{workNo,jdbcType=INTEGER}
  </update>
</mapper>