<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnu.houseweb.dao.AnswerMapper">
  <resultMap id="BaseResultMap" type="hnu.houseweb.entity.Answer">
    <id column="answerNo" jdbcType="INTEGER" property="answerNo" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="questionNo" jdbcType="INTEGER" property="questionNo" />
    <result column="answerContent" jdbcType="VARCHAR" property="answerContent" />
    <result column="answerTime" jdbcType="TIMESTAMP" property="answerTime" />
  </resultMap>
  <sql id="Base_Column_List">
    answerNo,userId, questionNo, answerContent, answerTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="hnu.houseweb.entity.AnswerKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from answer
    where userId = #{userId,jdbcType=INTEGER}
      and questionNo = #{questionNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="hnu.houseweb.entity.AnswerKey">
    delete from answer
    where userId = #{userId,jdbcType=INTEGER}
      and questionNo = #{questionNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hnu.houseweb.entity.Answer">
    insert into answer (userId, questionNo, answerContent,
      answerTime)
    values (#{userId,jdbcType=INTEGER}, #{questionNo,jdbcType=INTEGER}, #{answerContent,jdbcType=VARCHAR},
      #{answerTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="hnu.houseweb.entity.Answer">
    insert into answer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        userId,
      </if>
      <if test="questionNo != null">
        questionNo,
      </if>
      <if test="answerContent != null">
        answerContent,
      </if>
      <if test="answerTime != null">
        answerTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="questionNo != null">
        #{questionNo,jdbcType=INTEGER},
      </if>
      <if test="answerContent != null">
        #{answerContent,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        #{answerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hnu.houseweb.entity.Answer">
    update answer
    <set>
      <if test="answerContent != null">
        answerContent = #{answerContent,jdbcType=VARCHAR},
      </if>
      <if test="answerTime != null">
        answerTime = #{answerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userId = #{userId,jdbcType=INTEGER}
      and questionNo = #{questionNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hnu.houseweb.entity.Answer">
    update answer
    set answerContent = #{answerContent,jdbcType=VARCHAR},
      answerTime = #{answerTime,jdbcType=TIMESTAMP}
    where userId = #{userId,jdbcType=INTEGER}
      and questionNo = #{questionNo,jdbcType=INTEGER}
  </update>
</mapper>